
@media (max-width:1280px) {

    .list_skill{
        margin-top: 45px;
        display: block;
    }
    .skill_content{
        width: calc(calc(100% - 16px) / 3);
    }
    /*Contact Responsive*/
    .contact_body_content{
        flex-direction: column;
    }
    .contents_contact{
        border-radius: 20px 20px 0 0 ;
    }
    .nav_contact .reseau_social{
        flex-direction: row;
        height: 50px;
        border-radius: 0 0 20px 20px;
    }
    .nav_contact{
        width: 90%;
    }
}
@media (max-width:990px) {
    .skill_content{
        width: calc(calc(100% - 16px) / 2);
    }
    /*Contact Responsive*/
    .contact_body_content{
        width: 100vh;
        height: auto;
        overflow: visible;
        padding-right: 60px;
        flex-direction: column;
        transform: translate(-50%,-25%);
        min-width: 100%;
    }
    .contents_contact{
        flex-direction: column;
    }
    .__contacts{
        justify-content: center;
    }
    .my_contacts p{
        width: 341px;
    }
    body{
        overflow-x: hidden;
    }
    .contact_information{
        margin-top: 50px;
    }
    .contact_information .contact_image{
        width: 100%;
        height: 300px;
        background: url('/images/contact_expend.svg');
        background-size: 100% 85% ;
        background-repeat: no-repeat;
    }
    .contents_contact div{
        width: 100%;
    }
    .nav_contact .reseau_social{
        flex-direction: row;
        height: 50px;
        border-radius: 0 0 20px 20px;
    }
    .nav_contact{
        width: 90%;
    }
}
@media (max-width:750px) {
    .skill_content{
        width: 100%;
    }
    
}
@media (orientation:portrait) and (max-width : 770px){
    body{
        height: 100% !important;
    }
    main {
        height: 100% !important;
    }
    html{
        font-size: 14px;
    }
    .contact_body_content{
        width: 95vw;
        height: auto;
        overflow: visible;
        padding-right: 0px;
        flex-direction: column;
        transform: translate(-50%,-25%);
        min-width: 100%;
    }
        /* home */
        .home {
            display: block !important;
            height: auto !important;
        }
        .profilimg{
            height: auto !important;
            overflow: initial;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 35px;
        }
        .profilimg img{
            position: relative !important;
            width: 300px !important;
            height: 300px  !important;
            border-radius: 50%;
            box-shadow: 0px 0px 5px rgba(230, 230, 230, 0.5);
        }

        .home_text{
            width: 100% !important;
            height: auto !important;
            align-items: center;
            margin: 20px 0 ;
        }
        .home_text_center {
            text-align: center;
            margin:20px 0;
        }
        .home_text .home_button{
            justify-content: center;
        }
}
/*Height*/
@media (max-height:625px){
    .list-style{
        padding: 1em 40px 40px 40px;
    }
}
@media (max-height:580px) {
    .contact_body_content{
        transform: translate(-50%,-22%);
    }
}
@media (max-height:400px){
    .contact_body_content{
        transform: translate(-50%,-15%);
    }



}