<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Portfolio</title>

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    
    <link rel="stylesheet" href="extensions/fontawesone/css/all.css">
    <link rel="stylesheet" href="extensions/fontawesone/css/all.min.css">
    <script src="extensions/fontawesone/js/all.min.js"></script>
    <script src="extensions/fontawesone/js/all.js"></script>
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!----Skill progress Bar----->
    <script src="scripts/progress-bar.js" type="module"></script>
    <!--- Skill page css ----->
    <link rel="stylesheet" href="styles/skill.css">
    <!-- load barba (UMD version) -->
    <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>

    <!-- load gsap animation library (minified version) -->
    <script src="https://unpkg.com/gsap@latest/dist/gsap.min.js"></script>
    <!-- Load flip js animation librairie -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/Flip.min.js" integrity="sha512-98oWClulhnGKlxmGJShhS651oP8eAaaLLcGF8b/Nx1BKv+BsMqfbnmLJ8OnXoqnaQd6hOo0WE/gcQ2QkeBLHIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!---My Transition file------>
    <script  src="scripts/transition.js" type="module" defer></script>

    <!---Page contact Css----------->
    <link rel="stylesheet" href="styles/contact.css">
    <!---All Page Responsive-------->
    <link rel="stylesheet" href="styles/media-resposive.css">
    <!-- Plugin Gsap  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollToPlugin.min.js" integrity="sha512-lZACdYsy0W98dOcn+QRNHDxFuhm62lfs8qK5+wPp7X358CN3f+ml49HpnwzTiXFzETs4++fADePDI+L2zwlm7Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- script pour projet -->
    
</head>
<body data-barba="wrapper"><!-- Just an image -->
    <div class="loading_container">
        <div class="loading_screen"></div>
    </div>
    <div class="leftnavbar">
        <ul>
            <li direction=" " id="navMenu" class="homebt"><i direction=" " class="fas fa-home menu"></i></li></a>
            <!--fal fa-home-->
            <li direction="skill" class="skillbt" id="navMenu" ><i direction="skill" class="fab fa-connectdevelop menu"></i></li></a>
            <li direction="projet" class="projetbt" id="navMenu" ><i direction="projet" class="fab fa-hubspot menu"></i></li></a>
            <li direction="contact" class="contactbt" id="navMenu" ><i direction="contact" class="fas fa-envelope-open-text menu"></i></li></a>
        </ul>
        
    </div>