<%- include("layout.ejs")  %> 
<main data-barba="container" data-barba-namespace="projet_section">
    <link rel="stylesheet" href="./styles/projet.css">
    
    <style>
        .leftnavbar{
            display: none;
        }
    </style>
    <div class="page-logo">
        <h1>Mes Projets</h1>
    </div>
    <div class="projet-info">
        <h3>Utiliser</h3>
        <div class="arrows">
            <span>&larr;</span>
            <span>&rarr;</span>
            <span id="StepBack">Revenir</span>
        </div>
    </div>
        <div class="exploration"></div>
        <div class="detail">
            <img alt="...">
            <div class="title"></div>
            <p class="description"></p>
            
        </div>
</main>
</body>
</html>